<div class="container-lg">
  <div class="gallery">
    <% @images.each do |img| %>
      <%= image_tag img, class:"img", alt:"Landscape" %>
    <% end %>
  </div>
</div>

<div class="scroll-container">
  <a><%= link_to '<i class="fa-solid fa-angles-up fa-bounce"></i>'.html_safe, "#top" %></a>
</div>