<div class="container-all">
  <div class="container">
    <%= image_tag("natureza/1.jpeg", class:"photo") %>
    <span class="title">Natureza</span>
    </div>

<div class="container">
  <%= image_tag("landscape/1.jpeg", class:"photo") %>
  <span class="title">Landscape</span>
</div>

<div class="container">
  <%= image_tag("portraits/24.jpeg", class:"photo") %>
  <span class="title">Portrait</span>
</div>

<div class="container">
<%= image_tag("family/1.jpeg", class:"photo") %>
<span class="title">Family</span>
</div>
</div>
  

