<div class="container-lg">
  <div class="gallery" data-toggle="modal" data-target="#lightbox">
  <% @images.each do |img| %>
    <div class="photo">
      <%= image_tag img, class:"img", alt:"Portraits" %>
    </div>
  <% end %>
</div>