<main class="perfil">
  <%=image_tag("profile.jpeg", class:"profile") %>
  <div class="descricao">
  <h3>Oi, meu nome é Karina!</h3>
  
  <p>Sou formada em Turismo pela UFSCar Sorocaba e Pós Graduada pela Universidade Anhembi Morumbi em Criação Publicitária e Planejamento de Campanha.

  Atualmente tenho me dedicado para uma transição de carreira para a área de tecnologia, mais precisamente em desenvolvimento web.
  
  Aliado a isso, sou aspirante a fotógrafa. Nas horas vagas e sempre que há uma oportunidade, procuro alguns fazer alguns cliques por aí. 
  
  Quer saber mais sobre mim? Me manda um e-mail, ou me chama pelo whatsapp e a gente conversa melhor!</p>

  </div>
</main>