.logo {
  mix-blend-mode: multiply;
}

body {
  background: linear-gradient(106deg, rgba(252,220,111,1) 0%, rgba(244,198,112,1) 50%, rgba(252,220,111,1) 100%);
  font-family: Amaranth;
}

.cabecalho {
  padding: 30px;
  max-width: 1700px;
  height: 250px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.cabecalho .logo  {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.cabecalho .menu {
  display: flex;
  justify-content: center;
  padding: 45px;
}

.cabecalho nav li a {
  padding: 20px;
  color: #fcfae7;
  font-size: 20px;
}

.cabecalho nav li a:hover {
  color: #b3a104b0;
}

.container-all{
  width: fit-content;
  margin: 20px auto;
  justify-content:center;
  height: auto;
}
.container{
  padding: 5px;
  width: 80%;
  overflow:hidden;
  height: 400px;
  display:block;
  position: relative;
}
.photo {
  width: 100%;
  transition-duration: .3s;
  max-width: 100%;
  display:block;
  overflow:hidden;
  cursor:pointer;
}
.title{
  position:absolute;
  display:block;
  cursor:pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
}

.container:hover img{
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
}
.container:hover span{
  color:white;
  display: block;
  transition-duration: .3s;
}

.criacao {
  font-size: 20px;
  text-align: center;
}

.fa-solid {
  color: rgb(180, 10, 10);
}

.copyright {
  text-align: center;
}

.perfil {
  justify-content: center;
  display: flex;
}

.perfil .profile {
  border-radius: 75px;
  width: auto;
  height: 600px;
  padding: 20px;
}

.descricao {
  margin: 20px;
  width: 400px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: #29056bf5;
  justify-content: center;
  position: relative;
}

.descricao p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.descricao h3 {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}