.logo {
  mix-blend-mode: multiply;
}

body {
  background: linear-gradient(106deg, rgba(247,224,144,1) 0%, rgba(244,198,112,0.7987570028011204) 50%, rgba(247,224,144,1) 100%);
  font-family: Amaranth;
  position: relative;
}

.cabecalho {
  padding: 30px;
  max-width: 1700px;
  height: 250px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.cabecalho .logo  {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.cabecalho .menu {
  display: flex;
  justify-content:space-between;
  padding: 20px;
  width: 63%;
  margin: 20px auto;
}

.cabecalho nav li a {
  padding: 20px;
  color: #ffffff;
  font-size: 23px;
  text-shadow: 1px 1px #222121;
}

.cabecalho nav li a:hover {
  color: #b3a104b0;
}

.container-all{
  width: fit-content;
  margin: 20px auto;
  justify-content:center;
  height: auto;
}

.container{
  margin-bottom: 20px;
  padding: 5px;
  width: 80%;
  overflow:hidden;
  height: 400px;
  display:flex;
  position: relative;
  align-items: center;
}

.photo {
  width: 100%;
  max-width: 100%;
  display:block;
  overflow:hidden;
  padding: 10px;
}
.title{
  position:absolute;
  display:block;
  cursor:pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
}

.container:hover .front-cover{
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
}

.container:hover span{
  color:white;
  display: block;
  transition-duration: .3s;
}

.criacao {
  font-size: 18px;
  text-align: center;
}

.fa-solid {
  color: rgb(180, 10, 10);
}

.copyright {
  font-size: 15px;
  text-align: center;
}

.perfil {
  justify-content: center;
  display: flex;
}

.perfil .profile {
  border-radius: 75px;
  width: auto;
  height: 600px;
  padding: 20px;
}

.descricao {
  margin: 20px;
  width: 400px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: #29056bf5;
  justify-content: center;
  position: relative;
}

.descricao p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.descricao h3 {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.erro {
  text-align: center;
}

.alertas {
  text-align: center;
  position: relative;
  width: 50%;
  left: 25%;
  right: 25%;
}

footer {
  padding: 30px;
  margin: 10px auto;
}

.fa-solid.fa-triangle-exclamation{
  color: rgb(196, 177, 5);
}

.fa-solid.fa-paper-plane {
  color: rgb(9, 104, 9)
}

.front-cover{
  padding: 10px;
  width: 100%;
  transition-duration: .3s;
  max-width: 100%;
  display:block;
  overflow:hidden;
  cursor:pointer;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.fa-solid.fa-angles-up {
  color: rgb(37, 3, 129);
  font-size: 100px;
}

.scroll-container {
  width: 70px;
  margin: auto;
  position: absolute;
  bottom: 0;
  right: 170px;
  height: 80%;
}

.scroll-container:before {
  content: '';
  display: block;
  height: 100vh;
  pointer-events: none;
}

.scroll-container a {
  position: sticky;
  top: 88vh;
  cursor: pointer;
  font-size: 20px;
}

.contatos{
  margin-top: 150px;
  text-align: center;
}

.fa-brands{
  font-size: 35px;
  padding:10px;
  margin-left: 5%;
  margin-right: 5%;
}

.fa-brands.fa-instagram {
  color: #ffffff;
  background-color: #d6249f;
  border-radius: 100%;
}

.fa-brands.fa-linkedin-in {
  color: #ffffff;
  background-color: #0077B5;
  border-radius: 100%;
}

.fa-brands.fa-whatsapp {
  color: #ffffff;
  background-color: #25D366;
  border-radius: 100%;
}

.col-4{
  padding: 50px;
}