.logo {
  mix-blend-mode: multiply;
}

body {
  background: linear-gradient(166deg, rgba(251,217,136,1) 0%, rgba(237,234,202,1) 50%, rgba(255,250,234,1) 100%);
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
}

.cabecalho {
  padding: 30px;
  max-width: 1700px;
  height: 250px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.cabecalho .logo  {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.cabecalho .menu {
  display: flex;
  justify-content:space-around;
  padding: 20px;
  width: 100%;
  margin: 20px auto;
}

.cabecalho nav li a {
  padding: 20px;
  color: #0a0253;
  font-size: 23px;
}

.cabecalho nav li a:hover {
  color: #b3a104b0;
}

.container-all{
  width: fit-content;
  margin: 20px auto;
  justify-content:center;
  height: auto;
}

.container{
  width: 300px;
  margin-bottom: 20px;
  padding: 5px;
  margin: 10px;
  overflow:hidden;
  height: 500px;
  display:flex;
  position: relative;
  align-items: center;
  justify-content: center;
  float: left;
}

.container-lg{
  padding: 20px;
}

.gallery {
  line-height:10%;
  -moz-column-count:4;
  -moz-column-gap:5px;
  column-count:4;
  column-gap:5px;
}

.img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px; /* to match column gap */
  object-fit: cover;
}

.img:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title{
  position:absolute;
  display:block;
  cursor:pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
}

.container:hover .front-cover{
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
}

.container:hover span{
  color:white;
  display: block;
  transition-duration: .3s;
}

.criacao {
  font-size: 18px;
  text-align: center;
}

.fa-solid {
  color: rgb(180, 10, 10);
}

.copyright {
  font-size: 15px;
  text-align: center;
}

.perfil {
  justify-content: center;
  display: flex;
}

.perfil .profile {
  border-radius: 75px;
  width: auto;
  height: 600px;
  padding: 20px;
}

.descricao {
  margin: 20px;
  width: 400px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: #29056bf5;
  justify-content: center;
  position: relative;
}

.descricao p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.descricao h3 {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.erro {
  text-align: center;
}

.alertas {
  text-align: center;
  position: relative;
  width: 50%;
  left: 25%;
  right: 25%;
}

footer {
  padding: 30px;
  margin-top:auto;
  background-color: #0077B5;
}

.fa-solid.fa-triangle-exclamation{
  color: rgb(196, 177, 5);
}

.fa-solid.fa-paper-plane {
  color: rgb(9, 104, 9)
}

.front-cover{
  padding: 10px;
  width: 900px;
  transition-duration: .3s;
  display:block;
  overflow:hidden;
  cursor:pointer;
}

.contatos{
  margin-top: 150px;
  text-align: center;
}

.fa-brands{
  font-size: 35px;
  padding:10px;
  margin-left: 5%;
  margin-right: 5%;
}

.fa-brands.fa-instagram {
  color: #ffffff;
  background-color: #d6249f;
  border-radius: 100%;
}

.fa-brands.fa-linkedin-in {
  color: #ffffff;
  background-color: #0077B5;
  border-radius: 100%;
}

.fa-brands.fa-whatsapp {
  color: #ffffff;
  background-color: #25D366;
  border-radius: 100%;
}

.col-4{
  padding: 50px;
}
